'exception-reporting':
  'userId': '2c19c0b6-2aa9-56cc-495e-4bc06efe7f3b'
'release-notes':
  'viewedVersion': '0.89.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '5af126d92e278cb7ca83fc212cc211345ac75ac5'
'editor':
  'showInvisibles': true
  'fontFamily': 'Ricty Discord'
  'showIndentGuide': true
  'tabLength': 4
  'softTabs': false
  'fontSize': 13
'core':
  'themes': [
    'atom-light-ui'
    'fizzy'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
  'audioBeep': false
